*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma;
}
body {
    padding-top: 72px;
}

.hero-section{
  min-height: 90vh;
  background: linear-gradient(
    to right,
    #f8f9fa,
    #ffffff
  );
}

.card {
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.cta-section {
  background: linear-gradient(
    90deg,
    #0d6efd,
    #6610f2
  );
}
.cta-section .btn{
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 12px 30px;
    font-size: 1.1rem;
    
    transition: background-color 0.3s ease, color 0.3s ease;
}
.cta-section .btn:hover{
    background-color: #0d6efd;
    color: #ffffff;
}